<mat-toolbar class="navbar bg-body-primary fixed-top">
  <div class="container-fluid">
    <div class="navbar">
      <button class="navbar-brand btn-mat visible" mat-flat-button color="primary" routerLink="/"><mat-icon>home</mat-icon></button>
      <button class="navbar-brand me-3 btn-mat" mat-flat-button color="primary" routerLink="/">Inicio</button>
      <button class="btn-mat" mat-flat-button color="primary" routerLink="about">Sobre</button>
      <button class="btn-mat"mat-flat-button color="primary" routerLink="curriculum">Currículo</button>
      <button class="btn-mat" mat-flat-button color="primary" routerLink="portfolio">Portfólio</button>
      <button class="btn-mat" mat-flat-button color="primary" routerLink="contact">Contato</button>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar">
      <mat-icon>density_small</mat-icon>
    </button>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">

        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Welcome!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">

        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">
              Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="about">Sobre</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="curriculum">Currículo</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" hrouterLink="portfolio">Portfólio</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="contact">Contato</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</mat-toolbar>